<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0"
  name="viewport">
<meta content="ie=edge"
  http-equiv="X-UA-Compatible">
  <title>Wellcome to BooShow Audio Player</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  
      <link rel="stylesheet" href="style.css">
      <link href="responsive.css" rel="stylesheet">

  
</head>

<body class="container">
<!-- Called of font style  file -->

<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>

<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">

    
        <h1>Wellcome to BooShow Audio Player</h1>
        <img class="img" width="360px" src="podcast-icon.png">
        <div class="container-audio">
                
            <audio class="audio" controls  loop autoplay>
                       <source id="music-soruce" src="/files/<%= file %>" type="audio/mpeg">
                       Your browser dose not Support the audio Tag
                   </audio>
        </div>
        <div class="container-audio ">
            <h2><%= file %>:</h2>
            <a  class="download" s href="/files/<%= file %>">
                Download
                <!-- <img style="display: inline-block;margin-top:40px;height:55px" src="download.png"> -->
            </a>
        </div>



        <div class="container-audio player">

            <div class="">

            
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
            </div>
            </div>
        
</div>
</div>
    
    <script>
           window.onload = function() {
            var file = "<%= file %>";
            console.log(file);
            var musicsoruce = document.getElementById("music-soruce");
      musicsoruce.setAttribute("src","/files/" + file);

        }
    </script>
</body>
</html>
