@media only screen and (min-width:426px) and (max-width:768px){
  h1{
    margin: 32px auto;

font-size: 28px;
  }
  audio {

    width: 82%;
    border-radius: 30px;
    margin: 20px auto;
}
h2{


text-align: center;

font-size: 20px;

line-height: 30px;
}
.container-audio .colum1 {

  width: 1%;
  height: 5em;
  border-radius: 5px;
  margin: 0 6px 0 0;

  padding: 20px 0px 20px 5px;
}}
@media only screen and (min-width:769px) and (max-width:1024px){
  h1{
    font-size: 31px;

margin: 32px auto;
  }
  .container-audio .colum1 {

    width: 1%;
    height: 5em;
    border-radius: 5px;
    margin: 0 6px 0 0 !important;
  
    padding: 20px 0px 20px 5px;
  }
  audio {

    width: 82%;
    border-radius: 30px;
    margin: 20px auto;
}

}

@media only screen and (min-width:0px)  and (max-width:426px) {
    .download{
      font-size: 19px;
        margin: 19px 10px;
    }
    h1{
      font-size: 24px;
  line-height: 40px;
  margin: 32px auto;
    }
    img{
      vertical-align: middle;
  
  border-style: none;
  
  width: 100%;
    }
    .container-audio{
      padding: 22px 0px;
      margin: 20px auto;
  text-align: center;
  
  box-sizing: border-box;
    }
    .audio{
      width: 90%;
margin: 0px auto;
border-radius: 31px;
    }
    h2{
      display: inline-block;
  
  text-align: center;
  
  font-size: 14px;
    }
    .player{
      padding: 0px 0px 0px 22px ;
    }
    .container-audio .colum1 {
  
      width: 1%;
      height: 5em;
  
      margin: 0 1px 0 0;
    }
  }